{% extends "base.html" %}
{% from "macros_simple_form.html" import text_box, search_box, save_button %}

{% block title %}{{ app_label }}{% endblock %}

{% block content %}
<div class="container p-5">
    {% if form.id %}
    <h1 class="mb-4">Edit {{ app_label }}</h1>
    <form action="{{ url.edit(form.id) }}" method="post">
        <input type="number" name="record_id" value="{{ form.id }}" hidden>
        {% else %}
    <h1 class="mb-4">Add {{ app_label }}</h1>
    <form action="{{ url.add() }}" method="post">
        {% endif %}
    
        {{ text_box(form, "Account Number", "account_number", form.account_number, autofocus=True) }}
        {{ text_box(form, "Account Title", "account_name", form.account_name) }}
        {{ search_box(form, "Account Classification", "account_classification_name", form.account_classification_name) }}
        {{  save_button() }}

    </form>
</div>

<script>
    $(function() {
        $.ajax({
            url: '{{ url_for("account_classification._autocomplete") }}'
            }).done(function (data){
                $('#account_classification_name').autocomplete({
                    source: data,
                    minLength: 2
                });
            });
        });
</script>
{% endblock %}