            {% if ("Accounts Payable" in current_user.user_roles) %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Accounts Payable
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if "Accounts Payable" in current_user.user_roles %}    
                <li><a class="dropdown-item" href="{{ url_for('accounts_payable.home') }}">Accounts Payable Journal</a></li>
                {% endif %}
                {% if "Accounts Payable" in current_user.user_roles %}    
                <li><a class="dropdown-item" href="{{ url_for('accounts_payable.add') }}">Add Accounts Payable Voucher</a></li>
                {% endif %}
              </ul>
            </li>
            {% endif %}

