            {% if ("Account" in current_user.user_roles) %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Chart of Accounts
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if "Account" in current_user.user_roles %}    
                <li><a class="dropdown-item" href="{{ url_for('account.home') }}">Chart of Accounts</a></li>
                {% endif %}
                {% if "Account" in current_user.user_roles %}    
                <li><a class="dropdown-item" href="{{ url_for('account.add') }}">Add Account</a></li>
                {% endif %}
              </ul>
            </li>
            {% endif %}
