            {% if ("General" in current_user.user_roles) %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                General
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if "General" in current_user.user_roles %}    
                <li><a class="dropdown-item" href="{{ url_for('general.home') }}">General Journal</a></li>
                {% endif %}
                {% if "General" in current_user.user_roles %}    
                <li><a class="dropdown-item" href="{{ url_for('general.add') }}">Add General Voucher</a></li>
                {% endif %}
              </ul>
            </li>
            {% endif %}

