            {% if ("Customer" in current_user.user_roles) %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Customer
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if "Customer" in current_user.user_roles %}    
                <li><a class="dropdown-item" href="{{ url_for('customer.home') }}">Customer List</a></li>
                {% endif %}
                {% if "Customer" in current_user.user_roles %}    
                <li><a class="dropdown-item" href="{{ url_for('customer.add') }}">Add Customer</a></li>
                {% endif %}
              </ul>
            </li>
            {% endif %}

